---
import 'astro-maroon/styles/layout.css';
import BaseLayout from 'astro-maroon/layouts/BaseLayout.astro';
---

<BaseLayout
  title="404 - 栗かな的博客"
>
  <div class="not-found">
    <h1>404</h1>
    <p>页面不存在</p>
    <a href="/">回到首页</a>
  </div>
</BaseLayout>