---
import BaseLayout from '@kurikana/astro-theme/layouts/BaseLayout.astro';
import { getEntry, render } from 'astro:content';

const about = await getEntry('pages', 'about');
const { Content } = await render(about);
---

<BaseLayout
  title={`${about.data.title} - ${Astro.locals.site?.title ?? ''}的博客`}
>
  <div class="page-header">
    <h1>{about.data.title}</h1>
  </div>
  <div class="about-content prose">
    <Content />
  </div>
</BaseLayout>